<article class="doc">
{{#with page.title}}
<div class="PageHeader-module--page-header--NqfPe" style="margin-bottom:15px;">
    <div class="cds--grid">
        <div class="cds--row">
            <div class="cds--col-lg-12">
                <h1 id="page-title" class="PageHeader-module--text--Er2EO">{{{this}}}</h1>
            </div>
        </div>
    </div>
</div>
<h1 class="page" style="display:none;">.</h1>
{{/with}}
{{{page.contents}}}
</article>
