<div aria-label="This section contains utilities" class="Utils-module--container--nopG3">
    <div class="cds--layer-two">
        <button class="BackToTopBtn-module--button--Etd6D" type="button"
        aria-label="Back to Top"><svg focusable="false" preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32"
            aria-hidden="true" onclick="window.scrollTo(0, 0);">
            <path d="M16 14L6 24 7.4 25.4 16 16.8 24.6 25.4 26 24zM4 8H28V10H4z"></path>
        </svg></button>
</div>