<footer class="Footer-module--footer--spNBO">
    <div class="Footer-module--grid--8NRdN cds--grid">
        <div class="cds--row">
            <div class="Grid-module--column--FvUep cds--col-md-2 cds--col-lg-2">
                <ul class="Footer-module--nav--Qgwj6">
                    <li class="Footer-module--listItem--Aj70k"><a
                            href="https://ibertenis.com/contact/" aria-label="Contacto">Contacto</a></li>
                    <li class="Footer-module--listItem--Aj70k"><a href="https://ibertenis.com/pages/privacidad/"
                            aria-label="Privacy">Privacidad</a></li>
                    <li class="Footer-module--listItem--Aj70k"><a href="http://ibertenis.com/pages/avisolegal/"
                            aria-label="Terms of use">Términos de uso</a></li>
                    <li class="Footer-module--listItem--Aj70k"><a href="http://ibertenis.com/pages/avisolegal//"
                            aria-label="ibertenis.com">ibertenis.com</a></li>
                </ul>
            </div>
            <div class="Grid-module--column--FvUep cds--col-md-2 cds--col-lg-2">
                <ul class="Footer-module--nav--Qgwj6">
                    <li class="Footer-module--listItem--Aj70k"><a href="https://twitter.com/ibertenis"
                            aria-label="Twitter">Twitter</a></li>
                </ul>
            </div>
            <div
                class="Grid-module--column--FvUep cds--offset-lg-2 Footer-module--content--4fCzr cds--col-sm-3 cds--col-md-4 cds--col-lg-4">
                <p>¿Tienes preguntas? Envíanos un email <br>a <a href="mailto:development@ibertenis.com">development@ibertenis.com</a> <br>o abre
                    una incidencia en <a style="text-decoration: underline;"
                        href="https://github.com/webdeporte/helpme/issues/new">GitHub.</a></p>
                <p>Copyright © 2022 Zeltik</p>
            </div>
        </div>
        <div class="cds--row" style="filter:  brightness(0) invert(1);">
            <div class="Grid-module--column--FvUep cds--col-lg-3">
              <div>
    <a href="#">
      <img src="https://club.zeltik.es/static/img/webdeporte-logo.jpg">
    </a>
  </div>
            </div>
        </div>
    </div>
</footer>