<header aria-label="Header" class="cds--header Header-module--header--GJDvk"><a
        class="cds--skip-to-content Header-module--skip-to-content--K2bst" href="#main-content" tabindex="0">Skip to
        main content</a><a class="Header-module--headerName--01F2z" href="{{{or site.url siteRootPath}}}"><span>{{site.title}}</span></a>
    <div class="cds--header__global">
    <span class="cds--popover-container cds--popover--caret cds--popover--high-contrast cds--popover--bottom-right cds--tooltip cds--icon-tooltip">
        <button
                id="sites-toggle"
                aria-label="Switch sites" tabindex="0"
                class="sites-toggle Header-module--header-button--cTW-C Header-module--switcher-button--FrOpW cds--header__action cds--btn cds--btn--primary cds--btn--icon-only cds--btn cds--btn--primary"
                type="button" aria-labelledby="tooltip-2"></button><span aria-hidden="true" role="tooltip" class="cds--popover" id="tooltip-2"><span
                    class="cds--popover-content cds--tooltip-content">Switch sites</span><span
                    class="cds--popover-caret"></span></span>
    </span>
    </div>
</header>