<main class="article">
{{> toolbar}}
  <div class="content container--g10">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> toc}}
{{> article}}
{{/if}}
  </div>
  {{> pagination2}}
  {{> feedback}}
  {{> footer}}
</main>
