{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">

    <nav
        class="nav-menu cds--side-nav__navigation cds--side-nav cds--side-nav--expanded LeftNav-module--side-nav--white--ZHyHD cds--side-nav--ux"
        aria-label="Side navigation">
        {{#with @root.page.componentVersion}}
        <h3 class="title"><a href="{{{relativize ./url}}}">{{./title}}</a></h3>
        {{/with}}   
        {{> nav-tree2 navigation=this}}
    </nav>
</div>

{{/with}}
