{{#if navigation.length}}
<ul class="cds--side-nav__items sidenav-list">
  {{#each navigation}}
  <li class="cds--side-nav__item{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}" data-depth="{{or ../level 0}}">
    {{#if ./content}}
    {{#if ./url}}
    <button aria-expanded="false" class="cds--side-nav__submenu" type="button">
        <span class="cds--side-nav__submenu-title">{{{./content}}}</span>
        {{#if ./items.length}}
        <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron">
            <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
            </svg>
        </div>
        {{/if}} 
    </button>
    {{/if}}
    {{/if}}
{{> nav-tree2 navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
