{{#unless (eq page.attributes.pagination undefined)}}
{{#if (or page.previous page.next)}}

<div class="NextPrevious-module--wrapper--jrIYs">
    <div class="NextPrevious-module--grid--GqZX9 cds--grid">
        <div class="cds--row NextPrevious-module--link-container--An4-N">
            {{#with page.previous}}
            <div
                class="previous Grid-module--column--FvUep NextPrevious-module--link--gGvZe cds--col-sm-2 cds--col-md-4 cds--col-lg-6">
                <a href="{{{relativize ./url}}}">
                    <div class="NextPrevious-module--direction--89Gg9">Anterior</div>
                    <div class="NextPrevious-module--name--7U7xJ">{{{./content}}}</div>
                </a>
            </div>
            {{/with}}
            {{#with page.next}}
            <div
                class="next Grid-module--column--FvUep NextPrevious-module--link--gGvZe cds--col-sm-2 cds--col-md-4 cds--col-lg-6">
                <a href="{{{relativize ./url}}}">
                    <div class="NextPrevious-module--direction--89Gg9">Siguiente</div>
                    <div class="NextPrevious-module--name--7U7xJ">{{{./content}}}</div>
                </a>
            </div>
            {{/with}}
        </div>
    </div>
</div>
{{/if}}
{{/unless}}
