<div class="LeftNavWrapper-module--leftNavWrapper--ih7LY LeftNavWrapper-module--expanded--k2ILz">
    <div class="cds--side-nav__overlay cds--side-nav__overlay-active"></div>
    <nav aria-hidden="false"
        class="cds--side-nav__navigation cds--side-nav cds--side-nav--expanded LeftNav-module--side-nav--white--ZHyHD cds--side-nav--ux"
        aria-label="Side navigation">
        <ul class="cds--side-nav__items sidenav-list">
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">All about Carbon</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/all-about-carbon/what-is-carbon/"><span class="cds--side-nav__link-text">What is
                                Carbon?</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/all-about-carbon/who-uses-carbon/"><span class="cds--side-nav__link-text">Who uses
                                Carbon?</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/all-about-carbon/the-carbon-ecosystem/"><span class="cds--side-nav__link-text">The
                                Carbon ecosystem</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/all-about-carbon/the-team/"><span class="cds--side-nav__link-text">The Carbon
                                team</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/all-about-carbon/partners/"><span
                                class="cds--side-nav__link-text">Partners</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/all-about-carbon/releases/"><span
                                class="cds--side-nav__link-text">Releases</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item cds--side-nav__item--active"><button aria-expanded="true"
                    class="cds--side-nav__submenu" type="button"><span class="cds--side-nav__submenu-title">Case
                        studies</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a aria-current="page"
                            class="cds--side-nav__link cds--side-nav__link--current"
                            href="/case-studies/overview/"><span class="cds--side-nav__link-text">Overview</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/case-studies/consistency-in-the-cloud"><span
                                class="cds--side-nav__link-text">Consistency in the Cloud</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/case-studies/ibm-commerce-platform"><span class="cds--side-nav__link-text">IBM
                                Commerce Platform</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">What’s happening</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/whats-happening/news-and-articles/"><span class="cds--side-nav__link-text">News and
                                articles</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/whats-happening/meetups/"><span class="cds--side-nav__link-text">Meetups</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/whats-happening/work-in-progress/"><span class="cds--side-nav__link-text">Work in
                                progress</span></a></li>
                </ul>
            </li>
            <hr class="LeftNav-module--divider--wlFsX">
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Designing</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/designing/get-started/"><span class="cds--side-nav__link-text">Get started</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/designing/kits/sketch/"><span class="cds--side-nav__link-text">Design kits</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/designing/design-resources/"><span class="cds--side-nav__link-text">Other
                                resources</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/designing/tutorials/"><span class="cds--side-nav__link-text">Tutorials</span></a>
                    </li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Developing</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/developing/get-started/"><span class="cds--side-nav__link-text">Get
                                started</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/developing/frameworks/react/"><span
                                class="cds--side-nav__link-text">Frameworks</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/developing/dev-resources/"><span class="cds--side-nav__link-text">Developer
                                resources</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/developing/angular-tutorial/overview/"><span class="cds--side-nav__link-text">Angular
                                tutorial</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/developing/react-tutorial/overview/"><span class="cds--side-nav__link-text">React
                                tutorial</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/developing/vue-tutorial/overview/"><span class="cds--side-nav__link-text">Vue
                                tutorial</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Contributing</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/overview/"><span class="cds--side-nav__link-text">Overview</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/bugs-and-requests/"><span class="cds--side-nav__link-text">Bugs and
                                requests</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/documentation/"><span
                                class="cds--side-nav__link-text">Documentation</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/component/"><span class="cds--side-nav__link-text">Components</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/contribute-icons/"><span
                                class="cds--side-nav__link-text">Icons</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/pattern/"><span class="cds--side-nav__link-text">Patterns</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/contribute-pictograms/"><span
                                class="cds--side-nav__link-text">Pictograms</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/contributing/add-ons/"><span class="cds--side-nav__link-text">Add ons</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Migrating</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/migrating/guide/overview/"><span class="cds--side-nav__link-text">Guide</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link" href="/migrating/faq/"><span
                                class="cds--side-nav__link-text">FAQs</span></a></li>
                </ul>
            </li>
            <hr class="LeftNav-module--divider--wlFsX">
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Guidelines</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/2x-grid/overview/"><span class="cds--side-nav__link-text">2x
                                Grid</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/accessibility/overview/"><span
                                class="cds--side-nav__link-text">Accessibility</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/content/overview/"><span
                                class="cds--side-nav__link-text">Content</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/color/overview/"><span class="cds--side-nav__link-text">Color</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/icons/library/"><span class="cds--side-nav__link-text">Icons</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/pictograms/library/"><span
                                class="cds--side-nav__link-text">Pictograms</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/motion/overview/"><span class="cds--side-nav__link-text">Motion</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/spacing/overview/"><span
                                class="cds--side-nav__link-text">Spacing</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/themes/overview/"><span class="cds--side-nav__link-text">Themes</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/guidelines/typography/overview/"><span
                                class="cds--side-nav__link-text">Typography</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Components</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/overview/"><span class="cds--side-nav__link-text">Overview</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/accordion/usage/"><span
                                class="cds--side-nav__link-text">Accordion</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/breadcrumb/usage/"><span
                                class="cds--side-nav__link-text">Breadcrumb</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/button/usage/"><span class="cds--side-nav__link-text">Button</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/checkbox/usage/"><span
                                class="cds--side-nav__link-text">Checkbox</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/code-snippet/usage/"><span class="cds--side-nav__link-text">Code
                                snippet</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/content-switcher/usage/"><span class="cds--side-nav__link-text">Content
                                switcher</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/data-table/usage/"><span class="cds--side-nav__link-text">Data
                                table</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/date-picker/usage/"><span class="cds--side-nav__link-text">Date
                                picker</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/dropdown/usage/"><span
                                class="cds--side-nav__link-text">Dropdown</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/file-uploader/usage/"><span class="cds--side-nav__link-text">File
                                uploader</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/form/usage/"><span class="cds--side-nav__link-text">Form</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/inline-loading/usage/"><span class="cds--side-nav__link-text">Inline
                                loading</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/link/usage/"><span class="cds--side-nav__link-text">Link</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/list/usage/"><span class="cds--side-nav__link-text">List</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/loading/usage/"><span class="cds--side-nav__link-text">Loading</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/modal/usage/"><span class="cds--side-nav__link-text">Modal</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/notification/usage/"><span
                                class="cds--side-nav__link-text">Notification</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/number-input/usage/"><span class="cds--side-nav__link-text">Number
                                input</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/overflow-menu/usage/"><span class="cds--side-nav__link-text">Overflow
                                menu</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/pagination/usage/"><span
                                class="cds--side-nav__link-text">Pagination</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/popover/usage/"><span class="cds--side-nav__link-text">Popover</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/progress-bar/usage/"><span class="cds--side-nav__link-text">Progress
                                bar</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/progress-indicator/usage/"><span class="cds--side-nav__link-text">Progress
                                indicator</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/radio-button/usage/"><span class="cds--side-nav__link-text">Radio
                                button</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/search/usage/"><span class="cds--side-nav__link-text">Search</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/select/usage/"><span class="cds--side-nav__link-text">Select</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/slider/usage/"><span class="cds--side-nav__link-text">Slider</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/structured-list/usage/"><span class="cds--side-nav__link-text">Structured
                                list</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/tabs/usage/"><span class="cds--side-nav__link-text">Tabs</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/tag/usage/"><span class="cds--side-nav__link-text">Tag</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/text-input/usage/"><span class="cds--side-nav__link-text">Text
                                input</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/tile/usage/"><span class="cds--side-nav__link-text">Tile</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/toggle/usage/"><span class="cds--side-nav__link-text">Toggle</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/toggletip/usage/"><span
                                class="cds--side-nav__link-text">Toggletip</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/tooltip/usage/"><span class="cds--side-nav__link-text">Tooltip</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/UI-shell-header/usage/"><span class="cds--side-nav__link-text">UI shell
                                header</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/UI-shell-left-panel/usage/"><span class="cds--side-nav__link-text">UI
                                shell left panel</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/components/UI-shell-right-panel/usage/"><span class="cds--side-nav__link-text">UI
                                shell right panel</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Patterns</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link" href="/patterns/overview/"><span
                                class="cds--side-nav__link-text">Overview</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/common-actions/"><span class="cds--side-nav__link-text">Common
                                actions</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/dialog-pattern/"><span class="cds--side-nav__link-text">Dialogs</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/disabled-states/"><span class="cds--side-nav__link-text">Disabled
                                states</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/disclosures-pattern/"><span
                                class="cds--side-nav__link-text">Disclosures</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/empty-states-pattern/"><span class="cds--side-nav__link-text">Empty
                                states</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/filtering/"><span class="cds--side-nav__link-text">Filtering</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/forms-pattern/"><span class="cds--side-nav__link-text">Forms</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/global-header/"><span class="cds--side-nav__link-text">Global
                                header</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/loading-pattern/"><span class="cds--side-nav__link-text">Loading</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/login-pattern/"><span class="cds--side-nav__link-text">Login</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/notification-pattern/"><span
                                class="cds--side-nav__link-text">Notifications</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/overflow-content/"><span class="cds--side-nav__link-text">Overflow
                                content</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/search-pattern/"><span class="cds--side-nav__link-text">Search</span></a>
                    </li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/status-indicator-pattern/"><span class="cds--side-nav__link-text">Status
                                indicators</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/patterns/text-toolbar-pattern/"><span class="cds--side-nav__link-text">Text
                                toolbar</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Community assets</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/community/overview/"><span class="cds--side-nav__link-text">Overview</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/community/component-index/"><span class="cds--side-nav__link-text">Component
                                index</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/community/patterns/"><span class="cds--side-nav__link-text">Patterns</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/community/domain-guidance/"><span class="cds--side-nav__link-text">Domain
                                guidance</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Data visualization</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/getting-started/"><span class="cds--side-nav__link-text">Get
                                started</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/chart-types/"><span class="cds--side-nav__link-text">Chart
                                types</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/chart-anatomy/"><span class="cds--side-nav__link-text">Chart
                                anatomy</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/simple-charts/"><span class="cds--side-nav__link-text">Simple
                                charts</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/complex-charts/"><span class="cds--side-nav__link-text">Complex
                                charts</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/color-palettes/"><span class="cds--side-nav__link-text">Color
                                palettes</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/axes-and-labels/"><span class="cds--side-nav__link-text">Axes and
                                labels</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/legends/"><span
                                class="cds--side-nav__link-text">Legends</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/data-visualization/dashboards/"><span
                                class="cds--side-nav__link-text">Dashboards</span></a></li>
                </ul>
            </li>
            <li class="cds--side-nav__item"><button aria-expanded="false" class="cds--side-nav__submenu"
                    type="button"><span class="cds--side-nav__submenu-title">Help</span>
                    <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron"><svg
                            focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
                            <path d="M16 22L6 12 7.4 10.6 16 19.2 24.6 10.6 26 12z"></path>
                        </svg></div>
                </button>
                <ul class="cds--side-nav__menu">
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link" href="/help/faq/"><span
                                class="cds--side-nav__link-text">FAQs</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link"
                            href="/help/certificate-of-originality/"><span class="cds--side-nav__link-text">Certificate
                                of Originality</span></a></li>
                    <li class="cds--side-nav__menu-item"><a class="cds--side-nav__link" href="/help/contact-us/"><span
                                class="cds--side-nav__link-text">Contact us</span></a></li>
                </ul>
            </li>
            <hr class="LeftNav-module--divider--wlFsX">
            <li class="cds--side-nav__item"><a aria-current="" to="https://github.com/carbon-design-system/carbon"
                    href="https://github.com/carbon-design-system/carbon" rel="noopener noreferrer" target="_blank"
                    class="cds--side-nav__link LeftNav-module--outboundLink--j-dCg">
                    <div class="cds--side-nav__icon cds--side-nav__icon--small"><svg focusable="false"
                            preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
                            <path
                                d="M13,14H3c-0.6,0-1-0.4-1-1V3c0-0.6,0.4-1,1-1h5v1H3v10h10V8h1v5C14,13.6,13.6,14,13,14z">
                            </path>
                            <path d="M10 1L10 2 13.3 2 9 6.3 9.7 7 14 2.7 14 6 15 6 15 1z"></path>
                        </svg></div><span class="cds--side-nav__link-text">GitHub</span>
                </a></li>
        </ul>
    </nav>
</div>